shamefully-hoist=true
engine-strict=false
auto-install-peers=true
strict-peer-dependencies=false
enable-pre-post-scripts=true
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*vue-demi*
# 简盒 CI 配置：允许 pnpm install 在 lockfile 过时时也能跑
frozen-lockfile=false
